{% extends 'admin_panel/base.html' %}

{% block content %}
{% include 'admin_panel/nav.html' %}
{% load static %}
<style>
   
</style>
<link rel="stylesheet" href="{% static 'upload/css/upload_success.css' %}">
<div class="success-wrapper">
    <div class="home-content">
        <div class="checkmark">
            <svg viewBox="0 0 52 52">
                <path d="M14 26l8 8 18-18"></path>
            </svg>
        </div>
        <h2>Upload Successful</h2>
        <p>Your document has been uploaded successfully.</p>
    </div>
</div>
{% endblock %}
